### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
merge_df = pd.merge(school_data_df, student_data_df, on=["school_name", "school_name"], how="outer")
merge_df.head(10)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_schools = len(merge_df["school_name"].unique())
total_schools

15

In [3]:
#Calculate the total number of students
total_students = school_data_df["size"].sum()
total_students

39170

In [5]:
#Calculate the total budget
total_budget = school_data_df["budget"].sum()
formatted_total_budget = "{:,.2f}".format(total_budget)
formatted_total_budget

'24,649,428.00'

In [6]:
#Calculate the average math score
average_math = round(merge_df["math_score"].mean(), 6)
average_math

78.985371

In [7]:
#Calculate the average reading score
average_reading = round(merge_df["reading_score"].mean(), 5)
average_reading

81.87784

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_math_pass = (merge_df["math_score"] >= 70).sum()
percent_math_pass = round(students_math_pass / total_students * 100, 6)
percent_math_pass

74.980853

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
students_read_pass = (merge_df["reading_score"] >= 70).sum()
percent_read_pass = round(students_read_pass / total_students * 100, 6)
percent_read_pass

85.805463

In [10]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
both_pass = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]["student_name"].count()
percent_both_pass = round(both_pass / total_students * 100, 6)
percent_both_pass

65.172326

In [15]:
#Create a dataframe to hold the above results

#Optional: give the displayed data cleaner formatting
district_summary_df = pd.DataFrame({"Total School" : [total_schools], 
                                "Total Students" : [total_students],
                                "Total Budget" : [formatted_total_budget],
                                "Average Math Score" : [average_math],
                                "Average Reading Score" : [average_reading],
                                "% Passing Math" : [percent_math_pass],
                                "% Passing Reading" : [percent_read_pass],
                                "% Overall Passing" : [percent_both_pass]})
district_summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type